<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Platform</title>
</head>
<body>
    <h1>Welcome to the Cyber Platform</h1>
    <h2>Sections:</h2>
    <ul>
        <li><a href="{{ url_for('cyber_world_info_search') }}">Cyber World Information</a></li>
        <li><a href="{{ url_for('crime_stories') }}">Cyber Crime Stories</a></li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
    </ul>
    

    <h2>Complain Section:</h2>
    <form action="{{ url_for('complain') }}" method="post">
        <label for="complaint">Type your complaint:</label>
        <input type="text" id="complaint" name="complaint" required>
        <button type="submit">Submit Complaint</button>
    </form>

    <h2>Query Section:</h2>
    <form action="{{ url_for('query') }}" method="post">
        <label for="query">Type your query:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Submit Query</button>
    </form>
</body>
</html>
